$heading-font: 'Exo2-SemiBold', Arial, sans-serif;
$main-font: 'OpenSans-Regular', Arial, sans-serif;
$blue: #4c75e6;
$green-text: #8fe125;
$green-button: #6cbf00;
$grey: #5c6581;

.container {
    max-width: 1920px;
    margin: 0 auto;    
}

header {
    max-width: 1920px;
    width: 100%;
    padding: 0 339px;
    background: radial-gradient(52.81% 52.81% at 59.9% 47.19%, #517DF4 0%, #3E68DA 100%);
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 285px;
}

.menu-wrapper-navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
}

.menu-wrapper-icons {
    width: 250px;
    display: flex;
    justify-content: center;
    position: relative;
}

.hand-phone {
    display: flex;
    justify-content: space-between;
}


.benefits {
    background: radial-gradient(52.81% 52.81% at 59.9% 47.19%, #517DF4 0%, #3E68DA 100%);
}




















.dropbtn {
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    background-color: #3498DB;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .show {display: block;}
  