.benefits {
    background: radial-gradient(52.81% 52.81% at 59.9% 47.19%, #517DF4 0%, #3E68DA 100%);

    &-bg-wrapper {
        padding: 87px 0 155px 0;
        background: url("../assets/images/screens-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    &__heading {
        flex-basis: 50%;
        max-width: 1030px;
        margin: 0 auto;
        font-family: $heading-font;
        font-size: 40px;
        color: #FFFFFF;
        font-weight: 400;
        line-height: 56px;
        text-transform: uppercase;
        padding-bottom: 81px;
        text-align: center;
        span {
            font-weight: 700;
            font-style: italic;
        }        
    }

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;  
    }

    &__text {
        display: flex;
        // flex-basis: 50%;
        align-items: center;
        margin-left: 100px;
    }   

    &__img {
        // padding-left: 350px;
        // display: flex;        
        // flex-basis: 50%;
        // max-width: 545px;
        // width: 100%;
        // height: auto;
    }

    &__list {
        &__item {
            height: 24px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            font-family: $main-font;
            opacity: 0.7;

            &--bold {
                padding-bottom: 56px;
                font-family: $heading-font;
                font-size: 24px;
                color: #FFFFFF;
                font-weight: 400;
                line-height: 56px;
                height: 56px;
                opacity: 1;
                margin-bottom: 4px;
            }

            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6) {
                padding-bottom: 44px;
            }
        }
    }
}