.benefits {
    margin: 0 auto;
    background: radial-gradient(52.81% 52.81% at 59.9% 47.19%, #517DF4 0%, #3E68DA 100%);

    &-bg-wrapper {
        padding: 5.5rem 0 9.7rem 0;
        background: url("../assets/images/screens-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;

        @media screen and (max-width: $media-desktop) {
            background-size: cover;
        }
    }

    &__heading {
        flex-basis: 50%;
        max-width: 1030px;
        margin: 0 auto;
        font-family: $heading-semibold-font;
        font-size: $h2-big-size;
        color: #FFFFFF;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 5rem;
        text-align: center;
        span {
            font-weight: 700;
            font-style: italic;
        }        
    }

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;  
    }

    &__text {
        display: flex;
        // flex-basis: 50%;
        align-items: center;
        margin-left: 6.25rem;

        @media screen and (max-width: $media-desktop) {
            margin: 0 auto;
        }
    }   

    &__img {
        @media screen and (max-width: $media-big-mobile) {
            display: none;
        }
    }

    &__list {
        &__item {
            max-width: 420px;
            color: #ffffff;
            font-size: $h4-size;
            font-weight: 400;
            font-family: $main-font;
            opacity: 0.7;

            &--bold {
                padding-bottom: 1.25rem;
                font-family: $heading-semibold-font;
                font-size: $h2-size;
                color: #FFFFFF;
                font-weight: 400;
                opacity: 1;
                margin-bottom: 4px;
            }

            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6) {
                padding-bottom: 2.75rem;
            }
        }
    }

    @media screen and (max-width: $media-big-mobile) {
        text-align: center;
    }
}