@media screen and (max-width: $media-big-mobile) {
    .navBurger {
        position: absolute;
        right: 20px;
        top: 30px;
        cursor: pointer; 
        background: $blue;
        box-sizing: border-box; 
        background-clip: content-box;
        width: 30px;
        height: 24px;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        &:before,
        &:after {
            content: "";
            position: absolute;
            background: $blue;
            height: 2px;
            width: 100%;
            right: 0;
            will-change: rotate;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        &:before {
            top: -10px;
        }
        &:after {
            bottom: -10px;
        }
        &.active {
            background: transparent;
            background-clip: content-box;
        }
        &.active:before {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            top: 0;
            background: $blue;
            width: 110%;
        }
        &.active:after {
            bottom: 0;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            background: $blue;
            width: 110%;
        }
    }
    
    .overlay {
        position: fixed;
        background: rgb(233, 235, 240);
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform-origin: right top;
        transform: scale(0);
        visibility: hidden;
        transition: all .4s ease-in-out;
        overflow: hidden;
        &.open {
            opacity: .99;
            visibility: visible;
            // width: 100%;
            // height: 100%;
            transform: scale(1);
            li {
                color: $blue;
                display: block;
                animation: fadeInRight .4s cubic-bezier(.42, .83, .7, 1.5) forwards;
                animation-delay: .4s;
                transform: rotate(-7deg);
                transform-origin: right bottom;
                &:nth-of-type(2) {
                    animation-delay: .5s;
                }
                &:nth-of-type(3) {
                    animation-delay: .6s;
                }
                &:nth-of-type(4) {
                    animation-delay: .7s;
                }
                &:nth-of-type(5) {
                    animation-delay: .8s;
                }
            }
        }
    }
    
    .overlayMenu {
        position: absolute;
        text-align: left;
        top: 60px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: block;
            position: relative;
            height: 100%;
            li {
                display: block;
                position: relative;
                opacity: 0;
                width: 100%;
                a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 10px 40px 10px 40px;
                    margin: 5px 0;
                    transition: .2s;
                    font-size: 2rem;
                    &:hover,
                    &:active,
                    &:focus {
                        transform: translateX(-2px);
                        // outline-offset: 2px;
                        padding-left: 80px;
                        outline: 1px solid rgba(255,255,255,.3);
                        background: rgba(255,255,255,.03);
                    }
                }
            }
        }
    }
    // not working well. freezing screen when opened and closed
    // .locked {
    //     overflow: hidden;
    // }
    
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 50px;
        }
        100% {
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
        }
    }
}