.buttons {
    max-width: 27rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
    margin: 0 auto;
}

.button {
    width: 13rem;
    height: 4rem;
    margin: 0 0.5rem;
    padding: 1.4375rem 3.25rem;   
    background-color: transparent;
    border-radius: 2rem;
    border: 1px solid #FFFFFF;
    outline: none;
    
    &--white {
        box-shadow: 3px 10px 24px rgba(255, 255, 255, 0.35);
        background-color: #FFFFFF;
    }

    &--green {
        background-color: $green-button;
        border: none;
    }

    &--menu {
        width: 10.5rem;
        height: 3rem;
        padding: 0.875rem 2.625rem;  
    }
 
    &__text {
        display: block;  
        font-family: $main-font;
        color: #FFFFFF;
        font-size: $h5-size;
        font-weight: 400;
        text-transform: uppercase;

        &--menu {
            font-size: 0.9375rem;
        }

        &--white {
            font-family: $heading-semibold-font;
            color: $blue;
            font-weight: 700;
            letter-spacing: 0.046875rem;
        }
    }
    // &:hover {    
    //   filter: opacity(80%);
    // }
  
    // &:active {
    //   filter: saturate(300%);
    // } 
}