.footer {
    background-color: $blue;

    .footer-links-wrapper {
        margin: 0 auto;
        max-width: 1232px;
        display: flex;
        justify-content: end;

        .footer-links {
            padding: 4.5rem 0px;
            align-items: center;
            width: 790px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            @media screen and (max-width: $media-big-mobile) {
                flex-direction: column;
                margin: 0 auto;
                .logo {
                    margin-bottom: 50px;
                }
            }
        }
        
        .footer-icons {
            width: 352px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__icon {
                margin: 0 5px;
            }
            &__social {
                @media screen and (max-width: $media-big-mobile) {
                    margin-bottom: 32px;
                }
            }

            @media screen and (max-width: $media-big-mobile) {
                flex-direction: column;
                margin: 0 auto;
                align-items: center;
            }

        }
    }

    .footer-bottom {
        max-width: 1232px;
        margin: 0 auto;
        padding: 3.625rem 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    
        .footer-bottom__link,
        .footer-bottom__copyright {
            font-family: $heading-light-font;
            font-size: $h4-size;
            font-weight: 400;
            letter-spacing: 0.8px;
            opacity: 0.7;
            text-transform: uppercase;
            color: #FFFFFF;

            @media screen and (max-width: $media-big-mobile) {
                margin-bottom: 24px;
            }
        }
        
        .footer-bottom-wrapper {
            width: 568px;
            display: flex;
            justify-content: space-around;

            @media screen and (max-width: $media-big-mobile) {
                flex-direction: column;
                margin: 0 auto;
                width: 100%;
                align-items: center;
            }
        }
        
        @media screen and (max-width: $media-big-mobile) {
            flex-direction: column;
            margin: 0 auto 24px auto;
            align-items: center;
        }
    }

    @media screen and (max-width: $media-big-mobile) {
        flex-direction: column;
        margin: 0 auto;
    }
}

.wrapper {
    border: 1px solid rgba(255, 255, 255, 0.2);
}