.footer {
    background-color: $blue;

    .footer-links-wrapper {
        margin: 0 auto;
        max-width: 1232px;
        display: flex;
        justify-content: end;

        .footer-links {
            padding: 72px 0px;
            align-items: center;
            width: 790px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .footer-icons {
            width: 352px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__icon {
                margin: 0 5px;
            }
        }
    }

    .footer-bottom {
        max-width: 1232px;
        margin: 0 auto;
        padding: 58px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    
        .footer-bottom__link,
        .footer-bottom__copyright {
            font-family: $heading-light-font;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.8px;
            line-height: 24px;
            opacity: 0.7;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    
        .footer-bottom-wrapper {
            width: 568px;
            display: flex;
            justify-content: space-around;
        }
    }
}

.wrapper {
    border: 1px solid rgba(255, 255, 255, 0.2);
}