.get-number {
    margin: 0 auto;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../assets/images/get-number-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: left;

    &__heading {
        max-width: 750px;
        margin: 0 auto;
        font-family: $heading-light-font;
        font-size: $h2-big-size;
        color: #FFFFFF;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5rem;
        text-align: center;
        span {
            font-family: $heading-semibold-font;
            font-style: italic;
        } 
    }

    &__text {
        margin: 0 auto;
        color: #ffffff;
        font-family: $main-font;
        font-size: $h4-size;
        margin-bottom: 3.5rem;
    }

    .get-number-buttons {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        width: 416px;
        justify-content: space-between;
    }
}