.header {
    background: radial-gradient(52.81% 52.81% at 59.9% 47.19%, #517DF4 0%, #3E68DA 100%);
}

.menu-wrapper {
    max-width: 1275px;
    margin: 0 auto;
    padding: 19px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.header-menu {
    width: 617px;
    display: flex;
    justify-content: space-between;
    align-content: baseline;

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        align-items: center;
        font-family: $heading-semibold-font;
        opacity: 0.5;
        color: #FFFFFF;
        font-size: $h4-size;
        font-weight: 300;       

        &--selected {
            opacity: 1;
        }
    }
}

.hand-phone {
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text__item {
        padding-bottom: 1.5em;
    }

    &-wrapper {
        margin: 0 auto;
        max-width: 1275px;
        padding-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // flex-wrap: wrap;
    }

    &__text {
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        margin: auto 0;
            
        &__heading {
            padding-bottom: 3.5rem;
            font-family: $heading-semibold-font;
            text-transform: uppercase;
            font-size: $h1-size;
            font-weight: 500;
            span {
                color: $green-text;
            }
        }

        &__p {
            font-family: $main-font;
            font-size: $h4-size;
            font-weight: 400;
            opacity: 0.7;

            &--bold {
                font-weight: 700;
                opacity: 1;
            }
        }
    }

    .hand-phone__picture {
        line-height: 0;

        &__img {
            width: 100%;
            height: auto;
        }
    }
}