// @media screen and (max-width: 1200px) {
//     .hand-phone__text {
//       font-size: 30px;
//     }
//   }

//   @media screen and (max-width: 1200px) {
//     .benefits-bg-wrapper {
//       background-size: cover;
//     }
//   }

  @media screen and (max-width: 1200px) {
    html {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 960px) {
    html {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 768px) {
    html {
      font-size: 10px;
    }

    .header,
    .online-number,
    .benefits,
    .buy-number,
    .reviews,
    .get-number,
    .devices-rate-faq,
    .select-info,
    .footer {
      padding: 0 10px;
    }
  }

  // 320px mobile                             10px padding on sides required
  // 460px big mobile                         10px padding on sides required
  // 768px tab                                10px padding on sides required
  // 960 small desktop
  // 1200px normal desktop
  // bigger than 1200px HD desktop