.select-info {
    max-width: 1275px;
    margin: 0 auto;
    padding: 19px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: #f8f9fe;

    .call-us {
        font-family: $heading-light-font;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.8px;
        line-height: 24px;
        text-transform: uppercase;
        color: $grey;
        width: 286px;
        display: flex;
        justify-content: space-between;
    }

    .select-info-wrapper {
        padding: 94px 0;
        width: 680px;
        display: flex;
        justify-content: space-around;
    }
}