@import "_reset";
@import "_fonts";
@import "_settings";
@import "_header";
@import "_online-number";
@import "_benefits";
@import "_buy-number";
@import "_reviews";
@import "_get-number";
@import "_devices-rate-faq";
@import "_select-info";
@import "_footer";
@import "_media";
@import "_buttons";

.hidden-heading {
  display: none;
}

.logo {
  font-size: 0.6875rem;

  &__link {
      display: flex;
      flex-direction: row; 
      flex-wrap: nowrap;
      align-items: center;
  }

  &__heading {
      margin-left: 0.625rem;
      font-family: $heading-light-font;
      color: #FFFFFF;
      font-size: 0.9375rem;
      font-weight: 400;
      letter-spacing: 0.1875rem;
      text-transform: uppercase;
  }
}

.dropbtn {
    font-family: $heading-light-font;
    font-size: $h4-size;
    font-weight: 300;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: $grey;
    border: none;
    cursor: pointer;
    background: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    font-family: $heading-light-font;
    font-size: $h4-size;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: $grey;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: block;
  }
  
  .show {
      display: block;
  }
  













