@import "_reset";
@import "_fonts";
@import "_settings";
@import "_header";
@import "_online-number";
@import "_benefits";
@import "_buy-number";
@import "_reviews";
@import "_get-number";
@import "_devices-rate-faq";
@import "_select-info";
@import "_footer";
@import "_media";
@import "_buttons";
@import "_burger";

.hidden-heading {
  display: none;
}

.logo {
  font-size: 0.6875rem;
  svg {
    fill: #FFF;
  }
  &__link {
      display: flex;
      flex-direction: row; 
      flex-wrap: nowrap;
      align-items: center;
  }

  &__heading {
      margin-left: 0.625rem;
      font-family: $heading-light-font;
      color: #FFFFFF;
      font-size: 0.9375rem;
      font-weight: 400;
      letter-spacing: 0.1875rem;
      text-transform: uppercase;
  }
}

  













